@keyframes animacja {
    0%{background:greenyellow;
    color: yellow;}
    50%{background: greenyellow;
    color: yellow;}
    100%{background: greenyellow;
    color: yellow;}
}

@keyframes animacja2 {
    0%{background:orangered;
    color: orange;}
    50%{background: orangered;
    color: orange;}
    100%{background: orangered;
    color: orange;}
}

@keyframes animacja3 {
    0%{background:rgb(202, 235, 19);
    color: blueviolet;}
    50%{background: rgb(202, 235, 19);
    color: blueviolet;}
    100%{background: rgb(202, 235, 19);
    color: blueviolet;}
}


body {
background-color: rgb(128, 1, 1);
display: flex;
justify-content: center;
align-items: center;
margin: 0px;
padding: 0px;
}

.cont{
    display: grid;
    grid-template-columns: 5fr 5fr 5fr 5fr;
    grid-template-rows: 3fr 5fr 5fr 5fr;
    grid-template-areas: 
    "n n n n"
    "w w e e"
    "w w s s"
    "b b b b";
    width: 100%;
    height: 100%;
    background-color: rgb(202, 199, 17);
    
}

.head{
    grid-area: n;
    width: 100%;
    height: 100%;
    background: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.right{
    grid-area: e;
    width: 100%;
    height: 100%;
    background: coral;
}

.left{
    grid-area: w;
    width: 100%;
    height: 100%;
    background: khaki;
}

.bottom{
    grid-area: s;
    width: 100%;
    height: 100%;
    background: rgb(202, 235, 19);
}

.zdjencia{
    grid-area: b;
    width: 100%;
    height: 100%;
    background: black;
    margin: 0px;
    display: flex;
    justify-content: start;
    align-items: flex-start;
}

.tabela1{
    background-color: orange;
    border: 1px solid black;
    width: 100%;
    height: 90%;
}

.tabela2{
    background-color: greenyellow;
    border: 1px solid black;
    width: 100%;
    height: 90%;
}

.tabela3{
    background-color: yellow;
    border: 1px solid black;
    width: 100%;
    height: 90%;
}

td{
    border: 1px solid black;
}

h1{
    width: 50%;
    
}

button{
    height: 35%;
    border-radius: 100%;
    background: yellow;
}

.przycisk{
    color: crimson;
    border-radius: 100%;
}

h3{
    color: teal;
}

.td:hover {
    animation: animacja 3s infinite;
}

.td1:hover {
    animation: animacja2 3s infinite;
}

.td2:hover {
    animation: animacja3 3s infinite;
}
